@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{ font-family: 'Roboto', sans-serif;}

h1 { font-size: 64px; color: #0a2ff1; font-weight: 700; }

p { font-weight:400; font-size: 16px; color: #04146c;}

p strong { font-weight: 700;}

#parrafo { font-weight: 300;font-size:32px;}
#imagen { width: 30%;}
main.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ocupar toda la pantalla */
  gap: 40px; /* Espacio entre columnas */
}

div { margin-right: 5px; width: 30%;}
