/* ========== Importación de fuentes ========== */
@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap");

/* ========== Reset y estilos base ========== */
* {
  box-sizing: border-box;
}

html {
  background-color: #fcee21;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #333;
  background-color: #f2f2f2;
  width: 100%;
}

/* ========== Layout y contenedores ========== */
.container {
  max-width: 1659px;
  width: 100%;
  padding: 0px 142px;
}

h4 {
  font-size: 50px;
  background-color: black;
  color: white;
  display: inline-block;
}

section {
  width: 49%;
  display: inline-block;
}

/* ========== Tipografía ========== */
/* Estilos base para encabezados y texto destacado */
h1,
h2,
h3,
strong,
span {
  margin: 0;
  font-weight: 700;
}

/* Encabezados específicos */
h1 {
  font-size: 64px;
  display: flex;
  flex-direction: column;
  line-height: 1;
}

h1 strong {
  font-family: "Coiny", cursive;
  font-size: 117.33px;

}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 26.66px;
  font-weight: 900;
  background-color: #fcee21;
  display: inline;
}

.somos {
  display: block;
}

/* ========== Navegación ========== */
/* Navegación principal */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;

  h1 {
    display: flex;
    justify-content: start;
    font-size: 38px;
  }

  ul {
    width: 50%;
  }

  li {
    display: flex;
    justify-content: space-around;
  }

  a {
    margin-left: 20px;
    color: #7a7a7a;
    text-transform: capitalize;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

header {
  padding-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

/* ========== Secciones específicas ========== */
#quienes-somos {
  padding: 60px 0px;
  display: flex;
  justify-content: space-between;
}

#servicios {
  display: flex;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 100px 0px;
  justify-content: space-between;
}

#contacto {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
}

/* ========== Imágenes ========== */
img {
  width: 117px;
  height: 106px;
}

#imagen-servicios {
  width: 552px;
  height: 537px;
}
#imagen-wapas {
  width: 100%;
  height: auto;
}

/* ========== Formularios ========== */
#formulario-contacto {
  padding: 60px 0;
  width: 560px;
}

#form-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

/* Campos de formulario */
input {
  height: 55px;
}
textarea {
  height: 175px;
}
label {
  font-weight: 700;
  padding: 10px 0;
}
.required {
  color: #c1272d;
}

/* ========== Listas ========== */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
}

ol {
  font-weight: 400;
  list-style-position: outside;
}

.item {
  display: inline-block;
  background-color: #fcee21;
  font-weight: 700;
  font-size: 30px;
}

/* ========== Botones ========== */
.btn-black {
  border: none;
  background-color: black;
  color: white;
  width: auto;
  height: 50px;
  padding: 0px 30px;
  font-weight: 700;
  font-size: 26px;
}

/* ========== Footer y Aside ========== */
#footer  {
  display: flex;
  align-items: center;
  width: 100%;
  height: 103px;
  font-size: 33.66px;
  background-color: #fcee21;
}

footer a {
  font-size: 26.66px;
  margin-left: 20px;
  color: #7a7a7a;
  text-decoration: none;
}

aside {
  color: #808080;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0px;
}

/* ========== Utilidades ========== */
.coiny {
  font-family: "Coiny", cursive;
}

.yellow {
  background-color: #fcee21;
  display: inline;
}
