@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=MuseoModerno:wght@700&display=swap");

body {
  background-color: #edf7ff;
}

h1 ,h3, h4{
 font-family: 'MuseoModerno',cursive;
}

h2 , ul ,p {
  font-family: 'Asap', sans-serif;
  font-weight: regular;
}

h1{
    font-size: 117px;
    color: #0a2ff1;
}

h2{
    font-size: 52px;
    color: #0a2ff1;
}

h3{
    font-size: 	48px;
    color: #0a2ff1;
}

h4{
    font-size: 	198px;
    color: #8a9af1;
}

p{
    font-size: 33px;
    color:#04146c;
}

ul{
    font-size: 33px;
    color:#04146c;
    font-weight: bold;
}
